<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ScriptPlayer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="ScriptPlayer.Settings.connectionString" connectionString="Data Source=106PC0051;Initial Catalog=ExchRates;Integrated Security=True" />
  </connectionStrings>

  <applicationSettings>
    <ScriptPlayer.Settings>
      <setting name="path" serializeAs="String">
        <value>C:\Users\Yusupov.V\Desktop</value>
      </setting>
      <setting name="files" serializeAs="Xml">
        <value>
          <FilesNames>
            <Files>
              <fileItem>
                <file>
                  s1.sql
                </file>
              </fileItem>
              <fileItem>
                <file>
                  s2.sql
                </file>
              </fileItem>
              <fileItem>
                <file>
                  s0.sql
                </file>
              </fileItem>
              <fileItem>
                <file>
                  s4.sql
                </file>
              </fileItem>
              <fileItem>
                <file>
                  s3.sql
                </file>
              </fileItem>
              <fileItem>
                <file>
                  s5.sql
                </file>
              </fileItem>
            </Files>
          </FilesNames>
        </value>
      </setting>
    </ScriptPlayer.Settings>
  </applicationSettings>
</configuration>